a {
    text-decoration:none;
    color:#333;
}
a:hover{
    text-decoration:underline;
}


.centerVertical{
    display: flex;
    align-items: center;
}

.centerHorizontal{
    display: flex;
    justify-content:center;
}