@font-face {
  font-family: "iconfont"; /* Project id 3210660 */
  src: url('iconfont.woff2?t=1647249059453') format('woff2'),
       url('iconfont.woff?t=1647249059453') format('woff'),
       url('iconfont.ttf?t=1647249059453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="alibaba_icons_"], [class*="alibaba_icons_"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.alibaba_icons_public:before {
  content: "\e736";
}

.alibaba_icons_bad-fill:before {
  content: "\e779";
}

.alibaba_icons_good-fill:before {
  content: "\e780";
}

.alibaba_icons_return:before {
  content: "\e6ba";
}

.alibaba_icons_baocun:before {
  content: "\e63b";
}

.alibaba_icons_rely:before {
  content: "\e632";
}

.alibaba_icons_xinlangweibo:before {
  content: "\e600";
}

.alibaba_icons_weixin:before {
  content: "\e601";
}

.alibaba_icons_QQ:before {
  content: "\e882";
}

.alibaba_icons_bad:before {
  content: "\e666";
}

.alibaba_icons_good:before {
  content: "\e673";
}

