<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nilnullnaught.nnnnote.note.mapper.NoteMultiMapper">
    <insert id="initializeNote">
        INSERT INTO `note_info` ( id, user_id, note_folder_id, title, gmt_create, gmt_modified )
        VALUES
            (#{ID},#{userID},#{noteFolderId},#{title},#{date},#{date});
        INSERT INTO `note_text` ( id, text, gmt_create, gmt_modified )
        VALUES
            (#{ID},#{text},#{date},#{date});
    </insert>
</mapper>
